# autodim.cfg — pci.autodim configuration

[autodim]
enabled               = true
lat                   = 51.5074
lon                   = -0.1278
dim_offset_minutes    = 0
bright_offset_minutes = 0
signal                = virt.dim
